[submodule "cherry-mx/tb2086-kicad"]
	path = cherry-mx/tb2086-kicad
	url = git@github.com:Thunderbird2086/tb2086-kicad.git
[submodule "top-plate/tb2086-kicad"]
	path = case/plates/top-plate/tb2086-kicad
	url = git@github.com:Thunderbird2086/tb2086-kicad.git
[submodule "bottom-plate/tb2086-kicad"]
	path = plates/bottom-plate/tb2086-kicad
	url = git@github.com:Thunderbird2086/tb2086-kicad.git
[submodule "hybrid-mx/tb2086-kicad"]
	path = hybrid-mx/tb2086-kicad
	url = git@github.com:Thunderbird2086/tb2086-kicad.git
[submodule "plates/bottom-plate/tb2086-kicad"]
	path = case/plates/bottom-plate/tb2086-kicad
	url = git@github.com:Thunderbird2086/tb2086-kicad.git
[submodule "plates/bottom-plate-charger/tb2086-kicad"]
	path = case/plates/bottom-plate-charger/tb2086-kicad
	url = git@github.com:Thunderbird2086/tb2086-kicad.git
[submodule "chocolate/tb2086-kicad"]
	path = chocolate/tb2086-kicad
	url = git@github.com:Thunderbird2086/tb2086-kicad.git
[submodule "case/plates/bottom-plate-with-mcu-cover/tb2086-kicad"]
	path = case/plates/bottom-plate-with-mcu-cover/tb2086-kicad
	url = git@github.com:Thunderbird2086/tb2086-kicad.git
[submodule "case/plates/mcu-cover/tb2086-kicad"]
	path = case/plates/mcu-cover/tb2086-kicad
	url = git@github.com:Thunderbird2086/tb2086-kicad.git
